# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraformrc
crash.log
*.tfvars
!terraform.tfvars.example

# Terraform Cloud
*.auto.tfvars

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json
